@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400italic);
/* line 6, ../sass/main.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../sass/main.scss */
.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

/*@mixin keyframes($aniName){

    @-webkit-keyframes $aniName{
        @content;
    }
    @-moz-keyframes $aniName{
        @content;
    }
    @-o-keyframes $aniName{
        @content;
    }
    @keyframes $aniName{
        @content;
    }
}*/
/* line 54, ../sass/main.scss */
.stuff-shell {
  position: relative;
  margin: 0 auto 0 auto;
  width: 1500px;
  padding: 145px 0 0 280px;
  background-image: url(../img/stuff-shell.png);
  background-repeat: no-repeat; }

/* line 65, ../sass/main.scss */
.module-container {
  position: relative;
  font-family: arial, serif;
  width: 620px;
  color: #08afb7; }

/* line 73, ../sass/main.scss */
.module {
  z-index: 0;
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #c2fafc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(bottom, #c2fafc, #ffffff);
  background: -moz-linear-gradient(bottom, #c2fafc, #ffffff);
  background: -o-linear-gradient(bottom, #c2fafc, #ffffff);
  background: linear-gradient(bottom, #c2fafc, #ffffff);
  behavior: url(PIE-1.0.0/PIE.htc); }
  /* line 80, ../sass/main.scss */
  .module:before, .module:after {
    z-index: -1;
    position: absolute;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    top: 0; }
  /* line 88, ../sass/main.scss */
  .module:before {
    left: 0;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)); }
  /* line 93, ../sass/main.scss */
  .module:after {
    right: 0;
    background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)); }
  /* line 98, ../sass/main.scss */
  .module .content {
    z-index: 2;
    padding: 50px 0 80px 0; }
    /* line 102, ../sass/main.scss */
    .module .content:after {
      position: absolute;
      display: block;
      content: "";
      height: 30px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-image: url(../img/asset-sprite.png);
      background-position: 0 -80px;
      background-repeat: no-repeat; }

/* line 117, ../sass/main.scss */
h2, h3 {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  text-align: center; }

/* line 126, ../sass/main.scss */
h2 {
  font-size: 60px;
  margin: 0 0 50px 0; }

/* line 131, ../sass/main.scss */
h3 {
  font-size: 40px;
  margin: 0 0 25px 0; }

/* line 136, ../sass/main.scss */
.description {
  display: block;
  font-size: 15px;
  text-align: center;
  color: #045255;
  margin: 0 50px 50px 50px; }

/* line 144, ../sass/main.scss */
.sub-divider {
  height: 12px;
  background: url(../img/asset-sprite.png) 0 -54px no-repeat;
  margin: 50px 0 50px 0; }

/* line 1, ../sass/_slider.scss */
.slider-module {
  background: url(../img/sky-bg.jpg) left top no-repeat; }
  /* line 4, ../sass/_slider.scss */
  .slider-module .content {
    padding: 0 0 25px 0; }
  /* line 8, ../sass/_slider.scss */
  .slider-module .title-container {
    z-index: 0;
    position: relative;
    height: 300px; }
    /* line 13, ../sass/_slider.scss */
    .slider-module .title-container .title-choose, .slider-module .title-container .title-budget {
      font-family: 'Merriweather';
      font-style: italic; }
    /* line 20, ../sass/_slider.scss */
    .slider-module .title-container .title-choose {
      position: absolute;
      left: 70px;
      top: 40px;
      font-weight: 300;
      font-size: 60px;
      color: #045255; }
    /* line 29, ../sass/_slider.scss */
    .slider-module .title-container .title-your {
      z-index: -1;
      position: absolute;
      display: block;
      left: 90px;
      top: 90px;
      text-transform: uppercase;
      font-size: 20px;
      text-align: center;
      line-height: 75px;
      width: 80px;
      height: 80px;
      color: white;
      background-color: rgba(8, 175, 183, 0.3);
      border: 3px solid white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    /* line 47, ../sass/_slider.scss */
    .slider-module .title-container .title-budget {
      position: absolute;
      left: 150px;
      top: 90px;
      font-weight: 900;
      font-size: 120px;
      color: rgba(8, 175, 183, 0.8);
      text-shadow: 3px 3px 0 rgba(4, 82, 85, 0.5); }
  /* line 58, ../sass/_slider.scss */
  .slider-module .slider-container {
    z-index: 0;
    position: relative;
    height: 10px;
    width: 330px;
    left: 50%;
    margin: 0 0 0 -165px;
    background: none;
    border: none; }
    /* line 68, ../sass/_slider.scss */
    .slider-module .slider-container:before {
      z-index: -1;
      position: absolute;
      display: block;
      content: "";
      left: -13px;
      top: -11px;
      width: 357px;
      height: 32px;
      background: url(../img/asset-sprite.png) 0 0 no-repeat; }
    /* line 78, ../sass/_slider.scss */
    .slider-module .slider-container .ui-slider-range {
      -webkit-transition: background 0.25s ease;
      -moz-transition: background 0.25s ease;
      -o-transition: background 0.25s ease;
      transition: background 0.25s ease;
      height: 10px;
      background: #08afb7; }
      /* line 83, ../sass/_slider.scss */
      .slider-module .slider-container .ui-slider-range.active {
        background: #ed1e79; }
    /* line 88, ../sass/_slider.scss */
    .slider-module .slider-container .ui-slider-handle {
      -webkit-transition: background 0.25s ease;
      -moz-transition: background 0.25s ease;
      -o-transition: background 0.25s ease;
      transition: background 0.25s ease;
      margin: -7px 0 0 -18px;
      background: #08afb7;
      width: 36px;
      height: 36px;
      border: 2px solid #045255;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
      /* line 98, ../sass/_slider.scss */
      .slider-module .slider-container .ui-slider-handle.ui-state-active {
        background: #ed1e79; }
      /* line 102, ../sass/_slider.scss */
      .slider-module .slider-container .ui-slider-handle:after {
        position: absolute;
        display: block;
        content: "";
        top: 25%;
        left: 25%;
        margin: -1px 0 0 -1px;
        width: 18px;
        height: 18px;
        background-color: white;
        border: 2px solid #045255;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
  /* line 116, ../sass/_slider.scss */
  .slider-module .slider-options {
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0; }
    /* line 129, ../sass/_slider.scss */
    .slider-module .slider-options.slide .active span {
      color: #ed1e79; }
    /* line 135, ../sass/_slider.scss */
    .slider-module .slider-options li {
      -webkit-transition: color 0.25s ease, padding 0.25s ease, font-size 0.25s ease;
      -moz-transition: color 0.25s ease, padding 0.25s ease, font-size 0.25s ease;
      -o-transition: color 0.25s ease, padding 0.25s ease, font-size 0.25s ease;
      transition: color 0.25s ease, padding 0.25s ease, font-size 0.25s ease;
      display: block;
      width: 26%;
      padding: 30px 0 0 0;
      font-size: 90%;
      color: #045255;
      float: left;
      cursor: pointer; }
      /* line 145, ../sass/_slider.scss */
      .slider-module .slider-options li.enter {
        color: #ed1e79; }
      /* line 149, ../sass/_slider.scss */
      .slider-module .slider-options li.active {
        color: #08afb7 !important;
        padding: 29px 0 0 0 !important;
        font-size: 110% !important; }
      /* line 155, ../sass/_slider.scss */
      .slider-module .slider-options li[data-val="100"] {
        margin: 0 0 0 11%; }
  /* line 169, ../sass/_slider.scss */
  .slider-module .price-container {
    position: relative;
    text-align: center;
    padding: 50px 0 0 0; }
    /* line 175, ../sass/_slider.scss */
    .slider-module .price-container:before {
      z-index: -2;
      position: absolute;
      display: block;
      content: "";
      width: 280px;
      height: 280px;
      left: 50%;
      top: 20%;
      margin: 0 0 0 -140px;
      background: #08afb7;
      border: 2px solid #045255;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    /* line 188, ../sass/_slider.scss */
    .slider-module .price-container .price {
      font-family: 'Josefin Slab';
      font-weight: 400;
      font-style: italic;
      color: white; }
      /* line 196, ../sass/_slider.scss */
      .slider-module .price-container .price .dollar {
        font-size: 20px; }
      /* line 200, ../sass/_slider.scss */
      .slider-module .price-container .price .number {
        font-size: 60px; }
      /* line 204, ../sass/_slider.scss */
      .slider-module .price-container .price .nzd {
        font-size: 20px;
        text-transform: uppercase; }
    /* line 210, ../sass/_slider.scss */
    .slider-module .price-container .footer {
      display: block;
      font-family: 'Merriweather', serif;
      font-size: 25px;
      font-style: italic;
      font-weight: 300;
      color: #045255;
      margin: -20px 0 0 0; }

/* line 3, ../sass/_pie.scss */
.pie-module .key {
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  margin: 70px 0 0 0;
  padding: 0; }
  /* line 10, ../sass/_pie.scss */
  .pie-module .key li {
    position: relative;
    width: 25%;
    float: left; }
    /* line 15, ../sass/_pie.scss */
    .pie-module .key li:before, .pie-module .key li:after {
      position: absolute;
      display: block;
      content: "";
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      left: 50%; }
    /* line 21, ../sass/_pie.scss */
    .pie-module .key li:before {
      width: 36px;
      height: 36px;
      margin: -50px 0 0 -18px; }
    /* line 27, ../sass/_pie.scss */
    .pie-module .key li:after {
      width: 18px;
      height: 18px;
      background-color: white;
      margin: -63px 0 0 -9px; }
    /* line 34, ../sass/_pie.scss */
    .pie-module .key li.bed {
      color: #999999; }
      /* line 37, ../sass/_pie.scss */
      .pie-module .key li.bed:before {
        background: #cccccc;
        border: 2px solid #999999; }
      /* line 42, ../sass/_pie.scss */
      .pie-module .key li.bed:after {
        border: 2px solid #999999; }
    /* line 47, ../sass/_pie.scss */
    .pie-module .key li.attractions {
      color: #ed1e79; }
      /* line 50, ../sass/_pie.scss */
      .pie-module .key li.attractions:before {
        background: #ed1e79;
        border: 2px solid #990c4a; }
      /* line 55, ../sass/_pie.scss */
      .pie-module .key li.attractions:after {
        border: 2px solid #990c4a; }
    /* line 60, ../sass/_pie.scss */
    .pie-module .key li.transport {
      color: #3fa9f5; }
      /* line 63, ../sass/_pie.scss */
      .pie-module .key li.transport:before {
        background: #3fa9f5;
        border: 2px solid #0a76c4; }
      /* line 68, ../sass/_pie.scss */
      .pie-module .key li.transport:after {
        border: 2px solid #0a76c4; }
    /* line 73, ../sass/_pie.scss */
    .pie-module .key li.food {
      color: #243751; }
      /* line 76, ../sass/_pie.scss */
      .pie-module .key li.food:before {
        background: #243751;
        border: 2px solid #05070a; }
      /* line 81, ../sass/_pie.scss */
      .pie-module .key li.food:after {
        border: 2px solid #05070a; }
/* line 90, ../sass/_pie.scss */
.pie-module .chart-container .pie-chart {
  float: left;
  width: 310px; }
  /* line 94, ../sass/_pie.scss */
  .pie-module .chart-container .pie-chart .chart-container {
    position: relative; }
    /* line 97, ../sass/_pie.scss */
    .pie-module .chart-container .pie-chart .chart-container .price {
      position: absolute;
      display: block;
      font-family: 'Josefin Slab';
      font-weight: 400;
      font-size: 25px;
      font-style: italic;
      left: 0;
      top: 85px;
      width: 100%;
      text-align: center; }
    /* line 113, ../sass/_pie.scss */
    .pie-module .chart-container .pie-chart .chart-container canvas {
      margin: 0 0 0 55px; }

@keyframes myfirst {
  /* line 4, ../sass/_slideshow.scss */
  0%, 100% {
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: #ed1e79; }

  /* line 10, ../sass/_slideshow.scss */
  50% {
    width: 90px;
    height: 90px;
    margin: -45px 0 0 -45px;
    background: #990c4a; } }

@-webkit-keyframes myfirst {
  /* line 19, ../sass/_slideshow.scss */
  0%, 100% {
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: #ed1e79; }

  /* line 25, ../sass/_slideshow.scss */
  50% {
    width: 90px;
    height: 90px;
    margin: -45px 0 0 -45px;
    background: #990c4a; } }

/* line 43, ../sass/_slideshow.scss */
.slideshow-module[data-state="enter"][data-val="1"] .slideshow-options li[data-val="1"] {
  background: #ed1e79;
  border: 2px solid #990c4a; }
  /* line 47, ../sass/_slideshow.scss */
  .slideshow-module[data-state="enter"][data-val="1"] .slideshow-options li[data-val="1"]:after {
    border: 2px solid #990c4a; }
/* line 58, ../sass/_slideshow.scss */
.slideshow-module[data-state="enter"][data-val="2"] .slideshow-options li[data-val="2"] {
  background: #ed1e79;
  border: 2px solid #990c4a; }
  /* line 62, ../sass/_slideshow.scss */
  .slideshow-module[data-state="enter"][data-val="2"] .slideshow-options li[data-val="2"]:after {
    border: 2px solid #990c4a; }
/* line 73, ../sass/_slideshow.scss */
.slideshow-module[data-state="enter"][data-val="3"] .slideshow-options li[data-val="3"] {
  background: #ed1e79;
  border: 2px solid #990c4a; }
  /* line 77, ../sass/_slideshow.scss */
  .slideshow-module[data-state="enter"][data-val="3"] .slideshow-options li[data-val="3"]:after {
    border: 2px solid #990c4a; }
/* line 86, ../sass/_slideshow.scss */
.slideshow-module[data-state="enter"] h3 {
  color: #ed1e79; }
/* line 92, ../sass/_slideshow.scss */
.slideshow-module[data-state="enter"] .slideshow-image:after {
  animation: myfirst 1s infinite;
  -webkit-animation: myfirst 1s infinite;
  /* Safari and Chrome */ }
/* line 98, ../sass/_slideshow.scss */
.slideshow-module[data-state="enter"] .slideshow-image .rollover {
  margin: -450px 0 0 -450px !important;
  width: 900px !important;
  height: 900px !important;
  background: rgba(237, 30, 121, 0.5) !important; }
/* line 108, ../sass/_slideshow.scss */
.slideshow-module[data-state="enter"] .title-container li {
  color: #ed1e79; }
/* line 118, ../sass/_slideshow.scss */
.slideshow-module[data-val="1"] .image-container .image-1 {
  left: 0; }
  /* line 121, ../sass/_slideshow.scss */
  .slideshow-module[data-val="1"] .image-container .image-1 .fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
/* line 126, ../sass/_slideshow.scss */
.slideshow-module[data-val="1"] .image-container .image-2 {
  left: 735px; }
  /* line 129, ../sass/_slideshow.scss */
  .slideshow-module[data-val="1"] .image-container .image-2 .fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
/* line 134, ../sass/_slideshow.scss */
.slideshow-module[data-val="1"] .image-container .image-3 {
  left: 1470px; }
/* line 141, ../sass/_slideshow.scss */
.slideshow-module[data-val="1"] .slideshow-options li[data-val="1"] {
  background: #08afb7;
  border: 2px solid #045255; }
  /* line 145, ../sass/_slideshow.scss */
  .slideshow-module[data-val="1"] .slideshow-options li[data-val="1"]:after {
    width: 18px;
    height: 18px;
    left: 7px;
    top: 7px;
    border: 2px solid #045255; }
/* line 157, ../sass/_slideshow.scss */
.slideshow-module[data-val="1"] .title-container li[data-val="1"] {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 162, ../sass/_slideshow.scss */
.slideshow-module[data-val="1"] .title-container li[data-val="2"] {
  left: 10%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
/* line 167, ../sass/_slideshow.scss */
.slideshow-module[data-val="1"] .title-container li[data-val="3"] {
  left: 20%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
/* line 178, ../sass/_slideshow.scss */
.slideshow-module[data-val="2"] .image-container .image-1 {
  left: -367.5px; }
  /* line 181, ../sass/_slideshow.scss */
  .slideshow-module[data-val="2"] .image-container .image-1 .fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
/* line 186, ../sass/_slideshow.scss */
.slideshow-module[data-val="2"] .image-container .image-2 {
  left: 0; }
  /* line 189, ../sass/_slideshow.scss */
  .slideshow-module[data-val="2"] .image-container .image-2 .fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
/* line 194, ../sass/_slideshow.scss */
.slideshow-module[data-val="2"] .image-container .image-3 {
  left: 735px; }
/* line 201, ../sass/_slideshow.scss */
.slideshow-module[data-val="2"] .slideshow-options li[data-val="2"] {
  background: #08afb7;
  border: 2px solid #045255; }
  /* line 205, ../sass/_slideshow.scss */
  .slideshow-module[data-val="2"] .slideshow-options li[data-val="2"]:after {
    width: 18px;
    height: 18px;
    left: 7px;
    top: 7px;
    border: 2px solid #045255; }
/* line 217, ../sass/_slideshow.scss */
.slideshow-module[data-val="2"] .title-container li[data-val="1"] {
  left: -10%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
/* line 222, ../sass/_slideshow.scss */
.slideshow-module[data-val="2"] .title-container li[data-val="2"] {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 227, ../sass/_slideshow.scss */
.slideshow-module[data-val="2"] .title-container li[data-val="3"] {
  left: 10%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
/* line 238, ../sass/_slideshow.scss */
.slideshow-module[data-val="3"] .image-container .image-1 {
  left: -735px; }
  /* line 241, ../sass/_slideshow.scss */
  .slideshow-module[data-val="3"] .image-container .image-1 .fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
/* line 246, ../sass/_slideshow.scss */
.slideshow-module[data-val="3"] .image-container .image-2 {
  left: -367.5px; }
  /* line 249, ../sass/_slideshow.scss */
  .slideshow-module[data-val="3"] .image-container .image-2 .fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
/* line 254, ../sass/_slideshow.scss */
.slideshow-module[data-val="3"] .image-container .image-3 {
  left: 0; }
/* line 261, ../sass/_slideshow.scss */
.slideshow-module[data-val="3"] .slideshow-options li[data-val="3"] {
  background: #08afb7;
  border: 2px solid #045255; }
  /* line 265, ../sass/_slideshow.scss */
  .slideshow-module[data-val="3"] .slideshow-options li[data-val="3"]:after {
    width: 18px;
    height: 18px;
    left: 7px;
    top: 7px;
    border: 2px solid #045255; }
/* line 277, ../sass/_slideshow.scss */
.slideshow-module[data-val="3"] .title-container li[data-val="1"] {
  left: -20%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
/* line 282, ../sass/_slideshow.scss */
.slideshow-module[data-val="3"] .title-container li[data-val="2"] {
  left: -10%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
/* line 287, ../sass/_slideshow.scss */
.slideshow-module[data-val="3"] .title-container li[data-val="3"] {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 294, ../sass/_slideshow.scss */
.slideshow-module .slideshow-image {
  position: relative;
  width: 490px;
  height: 154px;
  margin: 0 0 0 65px;
  border: 2px solid white;
  cursor: pointer; }
  /* line 302, ../sass/_slideshow.scss */
  .slideshow-module .slideshow-image:after {
    position: absolute;
    display: block;
    content: "";
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
    margin: -40px 0 0 -40px;
    background: #08afb7;
    border: 2px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  /* line 314, ../sass/_slideshow.scss */
  .slideshow-module .slideshow-image .image-clip {
    position: relative;
    height: 100%;
    overflow: hidden; }
    /* line 319, ../sass/_slideshow.scss */
    .slideshow-module .slideshow-image .image-clip .rollover {
      -webkit-transition: width 0.25s ease, height 0.25s ease, margin 0.25s ease;
      -moz-transition: width 0.25s ease, height 0.25s ease, margin 0.25s ease;
      -o-transition: width 0.25s ease, height 0.25s ease, margin 0.25s ease;
      transition: width 0.25s ease, height 0.25s ease, margin 0.25s ease;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      margin: -100px 0 0 -100px;
      width: 200px;
      height: 200px;
      background: rgba(8, 175, 183, 0.5);
      border: 2px solid white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    /* line 333, ../sass/_slideshow.scss */
    .slideshow-module .slideshow-image .image-clip .image-container {
      z-index: 0;
      position: relative;
      width: 2205px;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      /* line 341, ../sass/_slideshow.scss */
      .slideshow-module .slideshow-image .image-clip .image-container li {
        -webkit-transition: left 0.75s ease;
        -moz-transition: left 0.75s ease;
        -o-transition: left 0.75s ease;
        transition: left 0.75s ease;
        position: absolute;
        top: 0;
        width: 735px;
        height: 150px;
        background-color: black;
        background-repeat: no-repeat;
        background-position: left center;
        -webkit-box-shadow: 0 0 100px 0 black;
        -moz-box-shadow: 0 0 100px 0 black;
        box-shadow: 0 0 100px 0 black; }
        /* line 355, ../sass/_slideshow.scss */
        .slideshow-module .slideshow-image .image-clip .image-container li .fade {
          -webkit-transition: opacity 0.75s ease;
          -moz-transition: opacity 0.75s ease;
          -o-transition: opacity 0.75s ease;
          transition: opacity 0.75s ease;
          height: 100%; }
        /* line 362, ../sass/_slideshow.scss */
        .slideshow-module .slideshow-image .image-clip .image-container li.image-1 .fade {
          background-image: url(../img/slideshow-1.jpg); }
        /* line 369, ../sass/_slideshow.scss */
        .slideshow-module .slideshow-image .image-clip .image-container li.image-2 .fade {
          background-image: url(../img/slideshow-2.jpg); }
        /* line 376, ../sass/_slideshow.scss */
        .slideshow-module .slideshow-image .image-clip .image-container li.image-3 .fade {
          background-image: url(../img/slideshow-3.jpg); }
/* line 385, ../sass/_slideshow.scss */
.slideshow-module .slideshow-options {
  z-index: 3;
  position: relative;
  list-style-type: none;
  margin: -18px 0 0 0;
  padding: 0; }
  /* line 392, ../sass/_slideshow.scss */
  .slideshow-module .slideshow-options li {
    -webkit-transition: background 0.25s ease, border 0.25s ease;
    -moz-transition: background 0.25s ease, border 0.25s ease;
    -o-transition: background 0.25s ease, border 0.25s ease;
    transition: background 0.25s ease, border 0.25s ease;
    position: relative;
    float: left;
    width: 36px;
    height: 36px;
    background: white;
    border: 2px solid #cccccc;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    behavior: url(PIE-1.0.0/PIE.htc); }
    /* line 404, ../sass/_slideshow.scss */
    .slideshow-module .slideshow-options li:after {
      -webkit-transition: width 0.25s ease, height 0.25s ease, left 0.25s ease, top 0.25s ease, border 0.25s ease;
      -moz-transition: width 0.25s ease, height 0.25s ease, left 0.25s ease, top 0.25s ease, border 0.25s ease;
      -o-transition: width 0.25s ease, height 0.25s ease, left 0.25s ease, top 0.25s ease, border 0.25s ease;
      transition: width 0.25s ease, height 0.25s ease, left 0.25s ease, top 0.25s ease, border 0.25s ease;
      position: absolute;
      display: block;
      content: "";
      width: 0;
      height: 0;
      background-color: white;
      left: 16px;
      top: 16px;
      border: 2px solid white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      behavior: url(PIE-1.0.0/PIE.htc); }
    /* line 417, ../sass/_slideshow.scss */
    .slideshow-module .slideshow-options li[data-val="1"] {
      margin: 0 0 0 246px; }
    /* line 421, ../sass/_slideshow.scss */
    .slideshow-module .slideshow-options li[data-val="2"] {
      margin: 0 10px 0 10px; }
/* line 431, ../sass/_slideshow.scss */
.slideshow-module .title-container {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  margin: 15px 0 0 0;
  padding: 0; }
  /* line 441, ../sass/_slideshow.scss */
  .slideshow-module .title-container li {
    -webkit-transition: left 0.25s ease, opacity 0.25s ease;
    -moz-transition: left 0.25s ease, opacity 0.25s ease;
    -o-transition: left 0.25s ease, opacity 0.25s ease;
    transition: left 0.25s ease, opacity 0.25s ease;
    position: absolute;
    top: 0;
    width: 100%; }
