// slider module

.slideshow-module{
	$imgWth: 490px; // image width

	&[data-val="1"]{

		.image-container{
			left: $imgWth * 0;
		}

	}

	&[data-val="2"]{

		.image-container{
			left: $imgWth * -1;
		}

	}

	&[data-val="3"]{

		.image-container{
			left: $imgWth * -2;
		}

	}
	
	.slideshow-image{
		position: relative;
		width: 490px;
		height: 154px;
		background: gray;
		margin: 0 0 0 65px;
		border: 2px solid white;
		cursor: pointer;

		&:after{
			@include pseudo;
			width: 80px;
			height: 80px;
			left: 0;
			top: 0;
			margin: -40px 0 0 -40px;
			background: $teal;
			border: 2px solid white;
			@include border-radius(50%);
		}

		&.enter{

			.rollover{
				margin: -450px 0 0 -450px !important;
				width: 900px !important;
				height: 900px !important;
			}
		}

		.image-clip{
			position: relative;
			overflow: hidden;

			.rollover{
				@include transition(width $ani ease, height $ani ease, margin $ani ease);
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
				margin: -100px 0 0 -100px;
				width: 200px;
				height: 200px;
				background: rgba($teal, 0.5);
				border: 2px solid white;
				@include border-radius(50%);
			}

			.image-container{
				@include transition(left $ani ease);
				z-index: 0;
				position: relative;
				width: 1470px;
				list-style-type: none;
				margin: 0;
				padding: 0;

				li{
					width: 490px;
					height: 150px;
					float: left;
					background:{
						image: url(../img/slideshow-temp.jpg);
						repeat: no-repeat;
						position: center center;
					}
				}
			}
		}
	}

	.slideshow-options{
		z-index: 3;
		position: relative;
		list-style-type: none;
		margin: -18px 0 0 0;
		padding: 0;

		li{
			@include transition(background $ani ease, border $ani ease);
			position: relative;
			float: left;
			width: 36px;
			height: 36px;
			background: white;
			border: 2px solid $gray;
			cursor: pointer;
			@include border-radius(50%);

			&:after{
				@include transition(width $ani ease, height $ani ease, left $ani ease, top $ani ease, border $ani ease);
				@include pseudo;
				width: 0;
				height: 0;
				background-color: white;
				left: 16px;
				top: 16px;
				border: 2px solid white;
				@include border-radius(50%);
			}

			&.enter{
				background: $teal;
				border: 2px solid $tealDrk;

				&:after{
					width: 18px;
					height: 18px;
					left: 7px;
					top: 7px;
					border: 2px solid $tealDrk;
				}
			}

			&[data-val="1"]{
				margin: 0 0 0 246px;
			}

			&[data-val="2"]{
				margin: 0 10px 0 10px;
			}

			&[data-val="3"]{
				
			}
		}
	}

	.title{
		display: block;
		text:{
			transform: uppercase;
			align: center;
		}
		margin: $pad / 2 $pad 0 $pad;
	}
}