// slider module

@keyframes myfirst{
	0%, 100%{
		width: 80px;
		height: 80px;
		margin: -40px 0 0 -40px;
		background: $pink;
	}
	50%{
		width: 90px;
		height: 90px;
		margin: -45px 0 0 -45px;
		background: $pinkDrk;
	}
}

@-webkit-keyframes myfirst{
	0%, 100%{
		width: 80px;
		height: 80px;
		margin: -40px 0 0 -40px;
		background: $pink;
	}
	50%{
		width: 90px;
		height: 90px;
		margin: -45px 0 0 -45px;
		background: $pinkDrk;
	}
}

/*
 *               _             _          _      
 *  _ __   __ _ (_) _ _    ___| |_  _  _ | | ___ 
 * | '  \ / _` || || ' \  (_-<|  _|| || || |/ -_)
 * |_|_|_|\__,_||_||_||_| /__/ \__| \_, ||_|\___|
 *                                  |__/         
 *
 */

.slideshow-module{

	.slideshow-image{
		position: relative;
		width: 490px;
		height: 154px;
		margin: 0 0 0 65px;
		border: 2px solid white;
		cursor: pointer;

		.info-icon{
			z-index: 2;
			position: absolute;
			width: 80px;
			height: 80px;
			left: 0;
			top: 0;
			margin: -40px 0 0 -40px;
			background: $teal;
			border: 2px solid white;
			@include border-radius(50%);
			behavior: url(PIE-1.0.0/PIE.htc);
		}

		.image-clip{
			position: relative;
			height: 100%;
			overflow: hidden;

			.rollover{
				@include transition(width $ani ease, height $ani ease, margin $ani ease);
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
				margin: -100px 0 0 -100px;
				width: 200px;
				height: 200px;
				background: rgba($teal, 0.5);
				border: 2px solid white;
				@include border-radius(50%);
			}

			.image-container{
				z-index: 0;
				position: relative;
				width: $imgWth * 3;
				list-style-type: none;
				margin: 0;
				padding: 0;

				li{
					@include transition(left $ani * 3 ease);
					position: absolute;
					top: 0;
					//left: 0;
					width: $imgWth;
					height: 150px;
					background:{
						color: black;
						repeat: no-repeat;
						position: left center;
					}
					@include box-shadow(0 0 100px 0 black);

					.fade{
						@include transition(opacity $ani * 3 ease);
						height: 100%;
					}

					&.image-1{

						.fade{
							background-image: url(../img/slideshow-1.jpg);
						}
					}

					&.image-2{

						.fade{
							background-image: url(../img/slideshow-2.jpg);
						}
					}

					&.image-3{

						.fade{
							background-image: url(../img/slideshow-3.jpg);
						}
					}
				}
			}
		}
	}

	.slideshow-options{
		z-index: 3;
		position: relative;
		list-style-type: none;
		margin: -18px 0 0 0;
		padding: 0;

		li{
			@include transition(background $ani ease, border $ani ease);
			position: relative;
			float: left;
			width: 36px;
			height: 36px;
			background: white;
			border: 2px solid $gray;
			cursor: pointer;
			@include border-radius(50%);
			behavior: url(PIE-1.0.0/PIE.htc);

			&:after{
				@include transition(width $ani ease, height $ani ease, left $ani ease, top $ani ease, border $ani ease);
				@include pseudo;
				width: 0;
				height: 0;
				background-color: white;
				left: 16px;
				top: 16px;
				border: 2px solid white;
				@include border-radius(50%);
				behavior: url(PIE-1.0.0/PIE.htc);
			}

			&[data-val="1"]{
				margin: 0 0 0 246px;
			}

			&[data-val="2"]{
				margin: 0 10px 0 10px;
			}

			&[data-val="3"]{
				
			}
		}
	}

	.title-container{
		position: relative;
		text:{
			transform: uppercase;
			align: center;
		}
		list-style-type: none;
		margin: 15px 0 0 0;
		padding: 0;

		li{
			@include transition(left $ani ease, opacity $ani ease);
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
} // end of slider module

/*
 *      _                                            _        _                 _           
 *  __ | |_   __ _  _ _   __ _  ___   _ __   ___  __| | _  _ | | ___   __  ___ | | ___  _ _ 
 * / _|| ' \ / _` || ' \ / _` |/ -_) | '  \ / _ \/ _` || || || |/ -_) / _|/ _ \| |/ _ \| '_|
 * \__||_||_|\__,_||_||_|\__, |\___| |_|_|_|\___/\__,_| \_,_||_|\___| \__|\___/|_|\___/|_|  
 *                       |___/                                                              
 *
 */

// styles when a user mouseenter's inside the image area...

body .slideshow-module[data-state="enter"]{ // when slide show image = mouse enter...
	background-color: lighten($pink, 45%);

	h3{
		color: $pink;
	}

	.slideshow-image{

		.info-icon{
			//background: $pink;
			animation:myfirst 1s infinite;
			-webkit-animation:myfirst 1s infinite; /* Safari and Chrome */
		}

		.rollover{
				margin: -450px 0 0 -450px !important;
				width: 900px !important;
				height: 900px !important;
				background: rgba($pink, 0.5) !important;
		}
	}

	.title-container{

		li{
			color: $pink;
		}
	}
} // end of [data-state="enter"]

// how each option button is effected by the mouse enter...

body .slideshow-module[data-state="enter"][data-val="1"]{

	.slideshow-options{

		li[data-val="1"]{
			background: $pink;
			border: 2px solid $pinkDrk;

			&:after{
				border: 2px solid $pinkDrk;
			}
		}
	}
}

body .slideshow-module[data-state="enter"][data-val="2"]{

	.slideshow-options{

		li[data-val="2"]{
			background: $pink;
			border: 2px solid $pinkDrk;

			&:after{
				border: 2px solid $pinkDrk;
			}
		}
	}
}

body .slideshow-module[data-state="enter"][data-val="3"]{

	.slideshow-options{

		li[data-val="3"]{
			background: $pink;
			border: 2px solid $pinkDrk;

			&:after{
				border: 2px solid $pinkDrk;
			}
		}
	}
}



























body .slideshow-module[data-val="1"]{ // when 1st image is active...

	.image-container{
		
		.image-1{
			left: 0;
			
			.fade{
				@include opacity(1);
			}
		}

		.image-2{
			left: $imgWth;

			.fade{
				@include opacity(1);
			}
		}

		.image-3{
			left: $imgWth * 2;
		}
	}

	.slideshow-options{

		li[data-val="1"]{
			background: $teal;
			border: 2px solid $tealDrk;

			&:after{
				width: 18px;
				height: 18px;
				left: 7px;
				top: 7px;
				border: 2px solid $tealDrk;
			}
		}
	}

	.title-container{

		li[data-val="1"]{
			left: 0;
			@include opacity(1);
		}

		li[data-val="2"]{
			left: 10%;
			@include opacity(0);
		}

		li[data-val="3"]{
			left: 20%;
			@include opacity(0);
		}
	}
} // end of [data-val="1"]

body .slideshow-module[data-val="2"]{ // when 2nd image is active...

	.image-container{
		
		.image-1{
			left: $imgWth * -0.5;

			.fade{
				@include opacity(0.5);
			}
		}

		.image-2{
			left: 0;

			.fade{
				@include opacity(1);
			}
		}

		.image-3{
			left: $imgWth;
		}
	}

	.slideshow-options{

		li[data-val="2"]{
			background: $teal;
			border: 2px solid $tealDrk;

			&:after{
				width: 18px;
				height: 18px;
				left: 7px;
				top: 7px;
				border: 2px solid $tealDrk;
			}
		}
	}

	.title-container{

		li[data-val="1"]{
			left: -10%;
			@include opacity(0);
		}

		li[data-val="2"]{
			left: 0;
			@include opacity(1);
		}

		li[data-val="3"]{
			left: 10%;
			@include opacity(0);
		}
	}
} // end of [data-val="2"]

body .slideshow-module[data-val="3"]{ // when 3rd image is active...

	.image-container{
		
		.image-1{
			left: - $imgWth;

			.fade{
				@include opacity(0);
			}
		}

		.image-2{
			left: $imgWth * -0.5;

			.fade{
				@include opacity(0.5);
			}
		}

		.image-3{
			left: 0;
		}
	}

	.slideshow-options{

		li[data-val="3"]{
			background: $teal;
			border: 2px solid $tealDrk;

			&:after{
				width: 18px;
				height: 18px;
				left: 7px;
				top: 7px;
				border: 2px solid $tealDrk;
			}
		}
	}

	.title-container{

		li[data-val="1"]{
			left: -20%;
			@include opacity(0);
		}

		li[data-val="2"]{
			left: -10%;
			@include opacity(0);
		}

		li[data-val="3"]{
			left: 0;
			@include opacity(1);
		}
	}
} // end of [data-val="3"]