@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,900italic);

*, *:after, *:before {
	@include box-sizing(border-box);
}

.clear-fix:after {
	content: "";
	display: table;
	clear: both;
}

$ani: 0.25s;
$pad: 50px;
$teal: #08AFB7;
$tealDrk: darken($teal, 20%);
$pink: #ED1E79;
$pinkDrk: darken($pink, 20%);
$sky: #3FA9F5;
$skyDrk: darken($sky, 20%);
$blue: #243751;
$blueDrk: darken($blue, 20%);
$gray: #CCCCCC;
$grayDrk: darken($gray, 20%);

@mixin pseudo{
	position: absolute;
	display: block;
	content: "";
}

.module-container{
	position: relative;
	margin: 0 auto 0 auto;
	font-family: arial;
	width: 620px;
	color: $teal;
}

.module{
	z-index: 0;
	position: relative;
	@include background(linear-gradient(bottom, lighten($teal, 50%), white));

	&:before, &:after{
		z-index: -1;
		@include pseudo;
		width: 50%;
		height: 100%;
		top: 0;
	}

	&:before{
		left: 0;
		@include background(linear-gradient(left, white, rgba(white, 0)));
	}

	&:after{
		right: 0;
		@include background(linear-gradient(right, white, rgba(white, 0)));
	}

	.content{
		z-index: 2;
		padding: $pad 0 $pad + 30px 0;

		&:after{
			@include pseudo;
			height: 30px;
			width: 100%;
			bottom: 0;
			left: 0;
			background:{
				image: url(../img/asset-sprite.png);
				position: 0 -80px;
				repeat: no-repeat;
			}
		}
	}
}

h2, h3{
	font:{
		family: 'Merriweather', serif;
		size: 60px;
		style: italic;
		weight: 300;
	}
	text-align: center;
}

h2{
	font-size: 60px;
	margin: 0 0 $pad 0;
}

h3{
	font-size: 40px;
	margin: 0 0 $pad / 2 0;
}

.sub-divider{
	height: 12px;
	background: url(../img/asset-sprite.png) 0 -54px no-repeat;
	margin: $pad 0 $pad 0;
}

@import "_slider.scss";
@import "_pie.scss";










